body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0px;
  min-height: 100dvh;
  min-width: 100dvw;
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  background-color: #272727;
  color: #e4d9cc;
}